 /* {- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
 - Dark blue: hsl(218, 44%, 22%)   
} */

* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightgrey;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main {
  width: 260px;
  border-radius: 12px;
  padding: 15px;
  background-color: white;
  /* border: 1px solid red; */
}

.container .main .qr-code {
  margin: 0 auto;
}

.container .main .qr-code img {
  width: 260px;
  border-radius: 12px;
}

.container .main .content {
  padding: 0;
}

.container .main .content .content-title {
  text-align: center;
  font-weight: 700;
  color: black;
  padding: 10px;
  /* border: 1px solid red; */
}

.container .main .content .content-text {
  color: darkgrey;
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}